<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="font-primary toolbar-title"> Lista de tareas </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="add()">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let task of _tasksService.list; let i = index">
    <ion-item>
      <ion-label>{{ task.title }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="edit(task, i)">
          <ion-icon name="pencil" color="warning" size="small"></ion-icon>
        </ion-button>
        <ion-button (click)="delete(task, i)">
          <ion-icon
            name="trash"
            color="danger"
            size="small"
            slot="end"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-card-content>
      {{ task.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
